:root{
    --my-bg-color:#FDAE4C
}

#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: var(--my-bg-color);

}

header {
    margin-top: .1em;
    text-align: center;
    border-radius: 0%;
    margin-bottom: 1em;
    margin: 0px;
  
}
header h1{
    font-family: Papyrus, fantasy;
    font-weight: bolder;
    margin: 0px;
    font-size: 4em;
}
header h6{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin: 0px;
    align-items: flex-end;
    font-size: 1em;
}


footer {
    font-size: 0.7em;
    text-align: center;
    clear: both;
    margin-top: 2em;
    color: #000;
}

main {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    padding: 1em;
    clear: both;
    margin-top: 5em;
    background-color: white;
    margin-top: 2em;
    opacity: 0.85;
}

main div{
    display: flex;
    flex-direction: row;
}

section{
    width: 75%;
    margin-left: 1em;
}
aside{
    width: 25%;
    display: flex;
    height: fit-content;
    flex-direction: column;
   align-items: left;
  
    background-color:green;
}

aside h4{
    width: 100%;
    background-color: white;
    margin: 0px;
    padding-top: 2em;
}
 .referA {
    color: #000;
    font-weight: normal;
    padding: 0.3em;
    width: 100%;
   font-size: .7em;
    border-bottom: .3em solid  white ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:white;

}
/* style for the links inside main */
.sectionA {
    color: #fff;
    font-weight: bold;
    padding: 0.3em;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: .3em solid  white ;
   
    background-color:green;
    text-decoration: none;
}
section p{
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 2em;
    overflow: hidden;
    background-color: #C30507;
  }
  
 .navli {
    float: left;
  }
  
  .navli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navli a:hover {
    background-color: #fad6ac;
  }

footer {
    font-size: .7em;
    text-align: center;
    margin-top: 2em;
    color: #fff;
}


.sectionDiv article{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 20em;
    -moz-column-width: 20em;
    column-width: 20em;

}
.video{
    display: block;
}


