<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Indian Festivals</title>
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <div id="container">
        <!-- this area is for the logo -->
        <header>
            <h1>Indian Festivals</h1>
            <h6>The Greatness of culture can be found in its festivals</h6>
        </header>

        <ul id ="nav">
            <li class="navli"><a href="index.html">Home </a></li>
            <li class="navli"><a href="references.html">References</a></li>
            <li class="navli"><a href="contact.html">Contact Us </a></li>
        </ul>
        <main>

        </main>
    </div>

    <!-- footer of the webpage -->
    <footer>
        &copy; Copyright 2021. All Rights reserved. <br />
        <a href="mailto:ranjana.madt@gmail.com">ranjana.madt@gmail.com</a>
    </footer>

    </div>
</body>

</html>